### AL ###
# Template for AL projects for Dynamics 365 Business Central

# Ignore Visual Studio Code configuration settings
.vscode/

# Ignore the AL language service cache for Business Central
.alcache/

# Ignore application symbols for Business Central extension development
.alpackages/

# Ignore snapshot files (usually backup or temporary files)
.snapshots/

# Ignore testing output directory (contains test logs and temporary files)
.output/

# Ignore application files for Business Central extension
*.app

# Ignore Rapid Application Development configuration file
rad.json

# Ignore machine-generated translation files
*.g.xlf

# Ignore license files. These should not be stored in VCS for security reasons.
*.flf

# Ignore test results file
TestResults.xml